@charset "UTF-8";

.nav-row {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

@media (max-width: 767px) {
  .nav-row {
    margin-left: 0; } }
  
.nav-column, .nav-columns {
  -ms-flex: 1 1 0px;
      flex: 1 1 0px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  min-width: initial; }

  @media print, screen and (min-width: 48em) {
    .nav-column, .nav-columns {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.small-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%; }

.small-up-1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-1 > .nav-column {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }


/*controls width of resources*/
body:not(.alt-use-cases-a):not(.alt-use-cases-b) .control-column {
  -ms-flex: 1 1 0px;
      flex: 1 1 0px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  min-width: initial; }

  @media print, screen and (min-width: 48em) {
    body:not(.alt-use-cases-a):not(.alt-use-cases-b) .control-column {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

@media (min-width: 992px) {
  body:not(.alt-use-cases-a):not(.alt-use-cases-b) li.link-to-solutions .sub li:nth-of-type(n+4),
  body:not(.alt-use-cases-a):not(.alt-use-cases-b) li.link-to-resources .sub li:nth-of-type(n+4) {
    padding-top: 1.875rem; } }

/* flex */
.flex-row, .tabs,
.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: none;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }

.flex-box {
  box-sizing: border-box;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 1;
      order: 1;
  -ms-flex-item-align: start;
      align-self: flex-start; }

@media print, screen and (min-width: 62em) {
  .large-3 {
    -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    max-width: 20%; }
 
  .large-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .large-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .large-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .large-up-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-3 > .nav-column {
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
      max-width: 33.33333%; }

  .large-up-6 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-6 > .nav-column {
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
      max-width: 16.66667%; }  
  }

.menu {
  margin: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }


@media screen and (max-width: 0em), screen and (min-width: 48em) {
  .show-for-small-only {
    display: none !important; } 
}


@media screen and (max-width: 61.9375em) {
  .show-for-large {
    display: none !important; } }

.align-center {
  -ms-flex-pack: center;
      justify-content: center; }

.space-1 {
  height: 1.25rem; }


.space-3 {
  height: 1.875rem; }


.gutter-self {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }


ul li,
ol li {
  font-weight: 300;
  line-height: 1.875rem; }

ul li:not(:last-child),
ol li:not(:last-child) {
    margin-bottom: 0.667rem; }


.view-all,
.cta-link {
  display: block; }
  .view-all.small,
  .cta-link.small {
    font-size: 0.833rem;
    line-height: 1.25rem; }

.constrain,
[class*="constrain-"] {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  box-sizing: border-box; }

.constrain-xl:not(.x) {
  max-width: 1200px; }

/* General purpose page wrappers provided are:
    html->body->[ .plane->.points->.grid ]->main */
.plane {
  background-color: #ffffff;
  /*box-shadow: 0px 1px 3px 0px rgba(41, 70, 97, 0.2);*/
  overflow: hidden; }

.page-header,
.categories-top,
.page-footer,
.plane {
 height: 74px;
  margin-right: auto;
}


hr {
  margin: 20px auto;
  max-width: 100%;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff; }

.h5 {
    color: #7F90A0;
  margin-bottom: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*nav_btn*/

.nav-btn {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.833rem 1.875rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s; }

  .nav-btn:active, .nav-btn:focus {
    text-decoration: none;
    outline: none; }

  @media print, screen and (min-width: 48em) {
    .nav-btn  {
      display: inline-block;
      width: auto; } }

.nav-btn-secondary {
  background: #063d70;
  border-color: #063d70;
  color: #ffffff; 
}
  .nav-btn-secondary:hover, .nav-btn-secondary:focus {
    background: #E8F2FC;
    color: #54D194; }
  .nav-btn-secondary:active {
    box-shadow: 0 1px 4px 0 rgba(41, 70, 97, 0.2); }

.nav-btn-small {
  padding: 0.667rem 1rem;
  font-size: 0.833rem;
  line-height: 1.5rem; }

.caret {
  position: relative;
  cursor: pointer; }
  .caret:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 12px;
    border-left: 12px solid rgba(41, 70, 97, 0.4);
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent; }
  .caret:after {
    content: '';
    position: absolute;
    top: 30%;
    left: 10px;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent; }
  .caret:hover:before {
    border-left-color: #54D194; }


.page-header {
  position: fixed;
  width: 100%;
  z-index: 500;
  padding: 0;
  margin: 0;
  border: none; }
  .page-header ul {
    margin: 0; }
    .page-header ul li {
      list-style: none;
      margin-bottom: 0;
      font-size: 0.9rem; }
      .page-header ul li a:hover {
        color: #54D194; }
  .depth-0 .page-header {
    padding-bottom: 0; }

nav.secondary {
  background-color: white;
  position: relative;
  display: none;
  border-bottom: 1px solid #E9ECEF; }
  @media (min-width: 992px) {
    nav.secondary {
      display: block; } }
  nav.secondary ul {
    width: 100%;
    text-align: right; }
  nav.secondary li {
    display: inline-block; }
  nav.secondary a {
    border-top: 2px solid transparent;
    padding: 1px 0.833rem;
    color: #546B81;
    line-height: 28px;
    display: block; }

nav.primary {
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #fff; 
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, .09);}
  @media (max-width: 991px) {
    nav.primary.open li.link-to-section {
      display: block !important; } }
  nav.primary ul {
    margin: 0;
    width: 100%; }
  nav.primary li {
    position: relative; }
  nav.primary div.logo {
    text-align: left;
    -ms-flex-positive: 0;
        flex-grow: 0; }
    nav.primary div.logo a {
      height: 72px;
      min-width: 200px;
      background-image: url("nav_assets/logo.png");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 150px auto;
      display: block;
      margin-left: 0; }
  @media (max-width: 991px) {
    nav.primary li.link-to-section {
      width: 100%;
      float: none;
      clear: both;
      -ms-flex: none;
          flex: none; } }
  nav.primary li.link-to-section a {
    color: #000000;
    transition: color 0.3s;
    display: inline-block;
    line-height: 2rem;
    padding-right: 1rem; }
    @media (max-width: 991px) {
      nav.primary li.link-to-section a {
        line-height: 3rem;
        font-size: 1rem; } }
    @media (min-width: 992px) {
      nav.primary li.link-to-section a {
        line-height: 74px;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: center;
        background-image: none;
        display: block; }
        nav.primary li.link-to-section a:hover {
          color: #54D194; } }
  @media (max-width: 991px) {
    nav.primary li.link-to-section .sub a {
      line-height: 2rem; } }
  @media (max-width: 991px) {
    nav.primary li.contact-us {
      display: none;
      width: 100%;
      float: none;
      clear: both;
      -ms-flex: none;
          flex: none; }
    nav.primary.open li.contact-us {
      display: none; } }
  nav.primary li.parent > a,
  nav.primary li.active-parent > a {
    background-image: url("nav_assets/caret_dark.png");
    background-size: 8px 4px;
    background-repeat: no-repeat;
    background-position: right center; }
    nav.primary li.parent > a::after,
    nav.primary li.active-parent > a::after {
      background-image: url("nav_assets/caret_light.png");
      position: absolute;
      left: -2000px; }
  nav.primary li.parent:hover .sub-pointer,
  nav.primary li.active-parent:hover .sub-pointer {
    display: block; }
    @media (max-width: 991px) {
      nav.primary li.parent:hover .sub-pointer,
      nav.primary li.active-parent:hover .sub-pointer {
        display: none; } }
  nav.primary li.parent .sub-pointer,
  nav.primary li.active-parent .sub-pointer {
    display: none; }
    nav.primary li.parent .sub-pointer:before, nav.primary li.parent .sub-pointer:after,
    nav.primary li.active-parent .sub-pointer:before,
    nav.primary li.active-parent .sub-pointer:after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: -1px;
      z-index: 1001;
      left: 50%;
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
    nav.primary li.parent .sub-pointer:before,
    nav.primary li.active-parent .sub-pointer:before {
      border: 10px transparent solid;
      border-bottom-color: #E9ECEF; }
    nav.primary li.parent .sub-pointer:after,
    nav.primary li.active-parent .sub-pointer:after {
      border: 8px transparent solid;
      border-bottom-color: white; }
  nav.primary li.parent.open > a,
  nav.primary li.active-parent.open > a {
    background-image: url("nav_assets/caret_light.png.png");
    color: #54D194; }

  @media (min-width: 992px) {
    nav.primary li.parent > a,
    nav.primary li.parent > a:hover,
    nav.primary li.active-parent > a,
    nav.primary li.active-parent > a:hover {
      background-image: none; } }

  nav.primary li.link-to-login {
    margin-bottom: 85%; }

  nav.primary li.contact-us {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: right; }
    nav.primary li.contact-us a {
      text-transform: uppercase; 
      white-space: nowrap; }
    nav.primary li.contact-us a:hover {
      color: #54D194; }
  nav.primary .sub li {
    transition: all 0.3s; 
    margin: 15px 0px;
   }
    nav.primary .sub li.active a,
    nav.primary .sub li a:hover {
      color: #54D194; }
    nav.primary .sub li a {
      background-image: none; }
  @media (min-width: 992px) {
    nav.primary .sub {
      position: fixed;
      left: 0;
      right: 0;
      max-width: 1600px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
       /*box-shadow: inset 0px 6px 5px -5px rgba(41, 70, 97, 0.2);*/
      background: #ffffff;
       }
      nav.primary .sub li a {
        font-weight: 400;
        border-top: none;
        line-height: 50px;
        background-image: none; }
      nav.primary .sub li a:hover,
      nav.primary .sub li.active a {
        color: #294661;
        border-top: none; }
      nav.primary .sub li:hover .sub {
        display: block;
        z-index: 1000; } }
  nav.primary .link-to-section.open .sub,
  nav.primary .active-parent .sub {
    display: block; }
  @media (min-width: 992px) {
    nav.primary .link-to-section:hover .sub {
      display: block;
      z-index: 1000; }
    nav.primary .link-to-pricing:hover ~ .link-to-section .sub {
      display: none; } }
  nav.primary #nav-toggle {
    font-size: 1.875rem;
    position: absolute;
    width: 32px;
    right: calc(1rem);
    top: 0;
    height: 73px;
    background: transparent;
    border: none;
    display: none;
    z-index: 1000;
    line-height: 1;
    padding: 0; }
    nav.primary #nav-toggle:hover, nav.primary #nav-toggle:focus {
      color: #54D194;
      outline: none; }
    nav.primary #nav-toggle .menu {
      position: absolute;
      display: block;
      width: 32px;
      height: 3px;
      background: #49B882;
      overflow: visible;
      border-top-right-radius:2px;
      border-bottom-right-radius: 2px;
      transition: background .3s; }
    nav.primary #nav-toggle .menu::before,
    nav.primary #nav-toggle .menu::after {
      content: "";
      position: absolute;
      left: 0;
      width: 32px;
      height: 3px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;  
      background: #49B882;
      transition: transform .2s; }
    nav.primary #nav-toggle .menu::before {
      top: -8px; }
    nav.primary #nav-toggle .menu::after {
      top: 8px; }
    @media (max-width: 991px) {
      nav.primary #nav-toggle {
        display: block; } }
  nav.primary.open #nav-toggle .menu {
    background: transparent;
    transition: background-color 0s; }
  nav.primary.open #nav-toggle .menu::before,
  nav.primary.open #nav-toggle .menu::after {
    transition: transform .3s; }
  nav.primary.open #nav-toggle .menu::before {
    top: 0;
    box-shadow: none;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  nav.primary.open #nav-toggle .menu::after {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    top: 0; }

@media (max-width: 991px) {
  nav.primary {
    max-height: 73px;
    overflow: hidden;
    transition: all .3s ease-out; }
    nav.primary .flex-box {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
    nav.primary ul:not(.sub) {
      opacity: 0;
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
      transition: all .3s ease-out; }
      nav.primary ul:not(.sub) li {
        transition: all .3s ease-out; }
    nav.primary li.link-to-section ul.sub li a {
      line-height: 2.25rem; }
  nav.primary.open {
    max-height: 1147px; }
    nav.primary.open ul:not(.sub) {
      opacity: 1;
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }
    nav.primary.open .sub {
      display: block;
      max-height: 0;
      transition: all .3s ease-out;
      overflow: hidden; }
    nav.primary.open .parent.open .sub {
      max-height: 260px; }
  li.link-to-solutions {
    padding-top: 1rem; 
  }
  div.logo {
    z-index: 999;
    background-color: #fff; }
  div.logo::after {
    content: "";
    position: absolute;
    width: 110vw;
    left: 0;
    border-top: 1px solid rgba(41, 71, 98, 0.2);
    margin-left: -3rem;
    height: 0; } }

nav.primary .sub {
  display: none; }

nav.primary .active-parent .sub {
  display: block; }

nav.secondary .account-overview {
  display: none; }



@media (min-width: 992px) {
  nav.primary li.link-to-section {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-positive: 0;
        flex-grow: 0; }
    nav.primary li.link-to-section:not(.link-to-pricing) {
      margin-right: 2rem; }

    nav.primary li.link-to-section:not(.link-to-pricing) > a {
      /*background-image: url("nav_assets/caret_dark.png");*/
      background-size: 8px 4px;
      background-repeat: no-repeat;
      background-position: right center; }
    nav.primary li.link-to-section.active-parent > a,
    nav.primary li.link-to-section.active > a,
    nav.primary li.link-to-section > a:hover {
      color: #54D194; }
    nav.primary li.link-to-section:not(.link-to-pricing).active-parent > a,
    nav.primary li.link-to-section:not(.link-to-pricing):hover > a {
      /*background-image: url("nav_assets/caret_light.png"); */}
  nav.primary li.link-to-section:hover .sub {
    max-height: 400px; }
  nav.primary li.link-to-pricing:hover .sub {
    display: none; }
  nav.primary .enclosure {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem; } }
  @media (min-width: 992px) and (min-width: 992px) {
    nav.primary .enclosure .nav-column:first-of-type li:not(:last-of-type){
      padding-bottom: 1.5rem; }
    nav.primary .enclosure .nav-column:last-of-type li:first-of-type{
      padding-bottom: 1.5rem; } }

@media (min-width: 992px) {
  nav.primary li.link-to-solutions .enclosure,
  nav.primary li.link-to-resources .enclosure {
    text-align: left; }
  nav.primary li.link-to-section li.deemphasized {
    opacity: .5; }
  nav.primary .sub {
    display: none;
    box-shadow: 0px 3px 4px -2px rgba(41, 71, 98, 0.2);
    min-height: 1px;
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease-out;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid #E9ECEF;
    line-height: 1.875rem; }
    nav.primary .sub .section-title {
      display: block;
      margin-bottom: 0.667rem; }
    nav.primary .sub li a {
      text-transform: none;
      letter-spacing: 0;
      line-height: 1.25rem;
      text-align: left; }
    nav.primary .sub li a span.tease {
      color: #546B81; }
    nav.primary .sub li a span.title {
      transition: color .3s; } }
    @media (min-width: 992px) and (min-width: 992px) {
      nav.primary .sub li a span.title {
        font-size: 1rem;
        color: #294661; } }

@media (min-width: 992px) {
    nav.primary .sub li.active span.title,
    nav.primary .sub li:not(.x):not(.y) a:hover span.title {
      color: #54D194;
      transition: color .3s; }
    nav.primary .sub hr {
      margin-top: 0;
      margin-bottom: 1.25rem; }
    nav.primary .sub .tease {
      display: block;
      padding-top: 0.197rem;
      white-space: nowrap; }
    nav.primary .sub .overview-cta .tease {
      white-space: inherit;
      margin-bottom: 0.444rem; }
    nav.primary .sub .overview-cta .link {
      color: #489BE8;
      transition: color 0.3s; }
    nav.primary .sub .overview-cta:hover .link {
      color: #54D194; }
  nav.primary li:hover .sub {
    display: block; }
  nav.primary .sub a {
    line-height: 30px;
    padding: 0; }
  nav.primary .sub .active a {
    color: #54D194; } }

@media (max-width: 992px) {
  nav.middle {
    clear: both; }
/*  .page-header {
    position: absolute; }*/
    .page-header nav.top {
      display: none; } }

@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); }
  .page-header h1 small, .page-header .h1 small {
    display: block;
    line-height: 20px; }
}

.new-link{
  margin-right: 2rem;
}

.api-login-right{
      width: auto;
    display: flex;
    justify-content: flex-end;
}

.get-api-btn{
  flex: 0;
}

.get-api-btn a{
  padding: 5px 15px;
}

.login-link a{
  color: #54D194 !important;
  font-weight: bold;
}

.drop-sub{
    width: 150px !important;
    position: absolute !important;
    right: -35px !important;
    padding: 0px 30px !important;
    left: initial !important;
}

.drop-sub .drop-sub-inner{
  display: block;
}
